@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Saira:wght@500&display=swap');

:root {
  --bradius:10px;
}

html, 
body {
  scroll-behavior: smooth;
    height: 100%;
    color:#F2C6EE;
}

body {
  margin: 0;
  background-color:#453a94;
  background-image: linear-gradient(to bottom right, #453a94, #f43b47);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 14pt;
  font-family: 'Quicksand', sans-serif;
}

/*------- MAIN STYLES -------*/
a {
  text-decoration: none;
  color: white;
  transition: left 0.3s ease;
}

a:hover {
  filter: drop-shadow(0 0 0.4rem #ED3994);
  color: #E1ACCE;
  position: relative;
  left: 1px;
  bottom:1px;
}

div {
  /* border-style: dashed; */
  border-width: 1px;
}

#desktop-logo-header{
  width: 70%;
  margin: 10px 0 10px 0;
  filter: drop-shadow(0 0 0.75rem #ED3994);
  /* animation: shine 8s cubic-bezier(0.1, -0.6, 0.2, 0)  infinite; */
  transition: width 2s;
  transition: top 2s ease;
}

.desktop-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  transition: height 0.4s ease-in;
}

.desktop-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-menu {
  position: sticky;
  top: 0px;
  z-index: 200;
  display: flex;
  justify-content: center;
}

nav a {
  margin: 5px 5px 5px 5px;
  text-transform: lowercase;
  font-size: 1.2em;
}

#container{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px 0 5px;
}

.block {
  border-radius: var(--bradius);
  margin: 10px;
  padding: 16px;
  background-color: rgba(255,189,211 , 0.05);
  backdrop-filter: blur(5px);
  vertical-align: top;
}

h1, h2, h3 {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  font-family: "Saira";
  font-weight: 300;
  text-transform: lowercase;
}

#footer {
  display: flex;
  justify-content: center;
}

/*---- FADE-IN BLOCKS ----*/
.animation-div {
  opacity: 0;
  
}

.animation-div-fade-in {
  animation: fade-in 0.5s ease forwards
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*---- END OF FADE-IN BLOCKS ----*/

/*---- STICKY MENU ----*/

.desktop-header-is-sticky {
  position: sticky;
  top:0px;
  box-shadow: rgba(69, 58, 148, 0.17) 0px -23px 25px 0px inset,
  rgba(69, 58, 148, 0.15) 0px -36px 30px 0px inset,
  rgba(69, 58, 148, 0.1) 0px -79px 40px 0px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  #5B3A8A 0px 12px 10px;
}


/*------- MEDIA QUERIES -------*/

@media only screen and (max-width: 320px) { 

}
 
@media only screen and (max-width:767px) {
  .desktop-header{
    display: none;
  }

  .mobile-header{
    position: sticky;
    top: 0px;
    z-index: 20;
    background-color: #8C417C;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    padding: 5px 3px 1px 5px;
    transition: box-shadow 1s ease;
  }

  .mobile-header-is-sticky {
    top:0px;
    box-shadow: rgba(69, 58, 148, 0.17) 0px -23px 25px 0px inset,
    rgba(69, 58, 148, 0.15) 0px -36px 30px 0px inset,
    rgba(69, 58, 148, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    #5B3A8A 0px 12px 10px;
  }

  #container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px 0 5px;
  }

  .row {
    display: flex;
  }
  
  .cell {
    flex: 1;
    padding: 7px 2px 7px 2px;
    
  }

  .small-logo-cell {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    transition: flex-basis 0.3s ease;
    
  }

  .small-logo-cell-is-sticky {
    flex-basis: 40%; 
  
  }


  .small-logo{
    max-width: 100%;
    filter: drop-shadow(0 0 0.75rem #ED3994) brightness(1.6);
  }

    
  /*--------------BURGER MENU----------------*/
  .burger-invisible {
    width: 100%;
    margin-right: 0px;
    margin-left: auto;
  }


  #menu-checkbox {
    display: none;
  }

  label {
    top: 55%;
    right: 10px;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 8px;
  }

  label:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
  }

  label div {
    position: relative;
    top: 0;
    height: 4px;
    background-color: #dccdfd;
    margin-bottom: 4px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
    border-radius: 2px;
  }

  label div:first-child {
    transform-origin: 0;
  }

  label div:last-child {
    margin-bottom: 0;
    transform-origin: 26px;
  }

  label div:nth-child(2) {
    right: 0;
    width: 26px;
  }

  #menu-checkbox:checked + label div:first-child {
    top: -5px;
    transform: rotateZ(45deg);
  }

  #menu-checkbox:checked + label div:last-child {
    top: 5px;
    transform: rotateZ(45deg);
  }

  #menu-checkbox:checked + label div:nth-child(2) {
    width: 37px;
    top: 0;
    right: 5px;
    transform: rotateZ(-45deg);
  }
  /*--------------BURGER MENU ENDS----------------*/

  .menu-closed{
    position: relative;
    top:-300px;
    transition: top 0.3s ease;
    height: 0px;
  }
  
  .menu-open {
    top:0px;
    height: auto;
  }

  .menu-open-list{
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
  }

  nav a {
    display: block;
  }

  
}

@media only screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}



