/*table {
  border-collapse: collapse;

}*/

.game-board-no-spaces {
  border-collapse: collapse;
}

#inner-game-of-life-board{
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

td  {
  border: 0px solid;
  width: 10px;
  height: 10px;
}

/* .circle{
  border-radius: 10px;
} */

.alive {
  background-color:  lightpink;
  
}

.dead {
  background-color: #A43A6A80;
}

#container-game-of-life {
 
  display: table;
  justify-content: center;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.inner-game-of-life{
  margin-left:auto;
  margin-right:auto;
  float: left;
}