:root {
  --bradius:10px;
}

html, 
body {
    height: 100%;
    color:#F2C6EE;
}

body {
  margin: 0;
  background-color:#453a94;
  background-image: linear-gradient(to bottom right, #453a94, #f43b47);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 14pt;
  font-family: 'Quicksand', sans-serif;
}


#header {
  width: 100%;
  padding: 20px 16px 20px 16px;
  text-transform: lowercase;
  font-weight: 400;
  text-align: center;
  
}

#logo-header {
  width: 150px;
  margin: 10px 0 10px 0;
  filter: drop-shadow(0 0 0.75rem #ED3994);
  
}

.block {
  border-radius: var(--bradius);
  margin: 10px;
  padding: 16px;
  background-color: rgba(255,189,211 , 0.05);
  backdrop-filter: blur(5px);
}

#blog, #welcome {
  display: inline-block;
}

#blog {
  float: left;
  width: 210px;
}

#content {
   display: flex;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#menu-header {
  display: inline;
  list-style-type: none;
  font-size: 16pt;
}

li.menu-header-el {
  display: inline;
  margin: 10px 15px 10px 0;
}

li.blog-links-el {
  background-color: rgba(201,121,135 , 0.3);
  margin: 5px 10px 5px -27px;
  padding: 5px 10px 5px 20px;
  border-radius: var(--bradius);
  backdrop-filter: blur(5px);
  white-space: nowrap;
}

.tech-blog {
  background-color: rgba(68, 40, 44, 0.3) !important;

}

#blog-current-item {
  margin: 5px -10px 5px 5px;
  color: white;
  text-align: right;
}


#blog-links {
  list-style-type: none;
  padding-left: 0;
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  filter: drop-shadow(0 0 0.4rem #ED3994);
  color: #E1ACCE;
  position: relative;
  left: 1px;
  bottom:1px;
}

#footer  {
  width: 100%;
  text-align: center;
  font-size: smaller;   
}

h1, h2, h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Fredoka One', cursive;
  font-weight: 300;
  text-transform: lowercase;
}

h3 {
  text-align: center;
  font-size: larger;
}

h4 {
  font-family: 'Quicksand', sans-serif;
}

pre {
  margin: 0;
}

.for-tag {
  color: aquamarine;
}

.code-snippet {
  text-align: left;
  border-radius: var(--bradius);
  background-color: #1E1E1E80;
  padding: 8px 10px 8px 10px;
}

.blog-img-place {
  /*background-color: rgba(201,121,135 , 0.3);*/
  padding: 10px;
  border-radius: var(--bradius);
 /* backdrop-filter: blur(5px);*/
  text-align: center;
}

.blog-img-text {
  font-style: italic;
  margin: 0;
  width: 100%;
}

.blog-img-source {
  width: 20px;
  float: right;
  opacity: 60%;
  filter: saturate(3);
}

.blog-img {
  width: 80%;
  border-radius: var(--bradius);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sm {
  width: 40%;
}

.content-list {
  margin-left: 20px;
}

.date-and-name {
  width: 100%;
  font-size: smaller;
  font-style: italic;
  text-align: right;
}

.for-tag1{
  color:#f0f39b;
}

.for-tag2{
  color: #27f3f6;

}

#tools {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

button {
  box-shadow: 4px 4px #551d3940;
  /**filter: drop-shadow(5px 5px 1px #551d39);**/
  border: none;
  border-radius: var(--bradius);
  font-weight: 400;
  padding: 0.7em 1.5em 0.7em 1.5em;
  background-color:rgba(249, 151, 166, 0.5);
  background-image: linear-gradient(to right, #923B7280 0%,   #A14273 100%);
  color:white;
  display: inline-block;
  font-size: 1em;
  margin: 10px 2px;
  cursor: pointer;
}

button:hover {
  background-color:rgba(238, 142, 158, 0.1);
  transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

button:active {
    
  box-shadow: 1px 1px  #551d3940;
  transform: translate(1px, 1px);
}

button:disabled{
  color: gray;
  background-color: gray;
  animation: none;
}

button:active:disabled {
  box-shadow: 4px 4px #551d3940;
  transform: none;
}

button:hover:disabled {
  /* background-color:rgba(238, 142, 158, 0.1); */
  transition: none;
  transition: none;
}



.small-button {
  font-size: 0.6em ;
}

.imp {
  border-style: dashed;
  border-width: 3px !important;
  border-color: #453a94;
  font-size: larger;
  text-align: center;
}

pre { 
  white-space: pre-wrap; 
  max-width:100%;
  height:auto;}


#project-table{
  width: 100%;
}


/** -------------- MEDIA ------------------- **/

@media only screen and (min-width:1200px) {
  body {
    background-color: #E1ACCE;
  }
}

  
@media only screen and (min-width: 768px) {
  body {
    background-color: #E1ACCE;
  }
#container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
  }


}


@media only screen and (max-width: 767px) {
  body {
    width: 100%;
  }

  #blog-current-item a {
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 20px;
    color:#dccdfd;
    font-weight: 600;
   
  }

  #blog-current-item {
     text-align: center;
     margin: 5px 10px 5px 10px;
  }

  
  #logo-header {
    width: 130px;
    margin: 10px 0 10px 0;
    filter: drop-shadow(0 0 0.75rem #ED3994);
  }

  #container {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
  }

  #header {
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-transform: lowercase;
    font-weight: 400;
    text-align: center;
  }
  
  #blog, #welcome {
    display: block;
    float: none;
    padding: 10px;
  
  }

  #blog {
    width: inherit;
  }

  #content {
    display: block;
    justify-content: center;
  }

  .block {
    margin: 10px;
    padding: 10px;
  }

  li.blog-links-el {
    background-color: rgba(201,121,135 , 0.3);
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 20px;
    border-radius: var(--bradius);
    backdrop-filter: blur(5px);
    white-space: nowrap;
  }

  .blog-img-place {
    padding: 0;
    width: 100%;
  }

  .sm {
    width: 80%;
  }

  #tools {
    display: none;
  }

}


  
@media only screen and (max-width: 320px) {
  body {
    width: 100%;
  }
  
  #blog-current-item a {
    margin: 5px 5px 5px 5px;
    color: #f891b8
    
  }
  
  #container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;  
  }

  #header {
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-transform: lowercase;
    font-weight: 400;
    text-align: center;
  }
  
  #welcome, #blog {
    display: block;
    float: none;
    width: inherit;
  }


  #content {
    display: block;
    justify-content: center;
  }

  #tools {
    display: none;
  }

  li.blog-links-el a {
    margin: 5px 10px 5px 10px;
  }

  .sm {
    width: 80%;
  }
}