body {
  margin: 0;
  background-color:#453a94;
  background-image: linear-gradient(to bottom right, #453a94, #f43b47);
  font-size: 14pt;
  font-family: 'Quicksand', sans-serif;
}
html, 
body {
    height: 100%;
    color:white;
}

#header {
  width: 100%;
  padding: 20px 16px 20px 16px;
  text-transform: lowercase;
  font-weight: 400;
  text-align: center;
  
}

#logo-header {
  width: 150px;
  margin: 10px 0 10px 0;
  filter: drop-shadow(0 0 0.75rem #ED3994);
  
}


.block {
  border-radius: 15px;
  margin: 10px;
  padding: 16px;
  background-color: rgba(255,189,211 , 0.05);
  backdrop-filter: blur(5px);
}

#blog, #welcome {
  display: inline-block;
}

#blog {
  float: left;
}

#welcome {
  float: right;
  width: 70%;
}

#content {
   display: flex;
}


#container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#menu-header {
  display: inline;
  list-style-type: none;
  font-size: 16pt;
}

li.menu-header-el {
  display: inline;
  margin: 10px 15px 10px 0;
}

li.blog-links-el {
  background-color: #823B7A;
  margin: 5px 10px 5px -26px;
  padding: 5px 10px 5px 20px;
  filter: drop-shadow(5px 3px 2px #52234D);

}

#blog-links {
  list-style-type: none;
  padding-left: 0;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  filter: drop-shadow(0 0 0.4rem #ED3994);
  color: #E1ACCE;
}

#footer  {
  width: 100%;
  text-align: center;
   
}