:root {
  --bradius:10px;
}

body {
  margin: 0;
  background-color:#453a94;
  background-image: linear-gradient(to bottom right, #453a94, #f43b47);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 14pt;
  font-family: 'Quicksand', sans-serif;
}

html, 
body {
    height: 100%;
    color:#F2C6EE;
}

#header {
  width: 100%;
  padding: 20px 16px 20px 16px;
  text-transform: lowercase;
  font-weight: 400;
  text-align: center;
  
}

#logo-header {
  width: 150px;
  margin: 10px 0 10px 0;
  filter: drop-shadow(0 0 0.75rem #ED3994);
  
}

.block {
  border-radius: var(--bradius);
  margin: 10px;
  padding: 16px;
  background-color: rgba(255,189,211 , 0.05);
  backdrop-filter: blur(5px);
}

#blog, #welcome {
  display: inline-block;
}

#blog {
  float: left;
  width: 210px;
}

#welcome {

}

#content {
   display: flex;
}


#container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#menu-header {
  display: inline;
  list-style-type: none;
  font-size: 16pt;
}

li.menu-header-el {
  display: inline;
  margin: 10px 15px 10px 0;
}

li.blog-links-el {
  background-color: rgba(201,121,135 , 0.3);
  margin: 5px 10px 5px -27px;
  padding: 5px 10px 5px 20px;
  border-radius: var(--bradius);
  backdrop-filter: blur(5px);
  white-space: nowrap;
}

#blog-current-item {
  margin: 5px -10px 5px 5px;
  color: white;
  text-align: right;
}


#blog-links {
  list-style-type: none;
  padding-left: 0;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  filter: drop-shadow(0 0 0.4rem #ED3994);
  color: #E1ACCE;
  position: relative;
  left: 1px;
  bottom:1px;
}

#footer  {
  width: 100%;
  text-align: center;
  font-size: smaller;
   
}

h1, h2, h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Fredoka One', cursive;
  font-weight: 300;
  text-transform: lowercase;
}

h3 {
  text-align: center;
}

h4 {
  font-family: 'Quicksand', sans-serif;
}

pre {
  margin: 0;
}

.for-tag {
  color: aquamarine;

}

.code-snippet {
  text-align: left;
  border-radius: var(--bradius);
  background-color: #1E1E1E80;
  padding: 8px 10px 8px 10px;
}

.blog-img-place {
  background-color: rgba(201,121,135 , 0.3);
  padding: 10px;
  border-radius: var(--bradius);
  backdrop-filter: blur(5px);
  text-align: justify;
}

.blog-img-text {
  font-style: italic;
  margin: 0;

}

.blog-img-source {
  width: 20px;
  float: right;
  opacity: 60%;
  filter: saturate(0);
}

.blog-img {
  width: 80%;
  border-radius: var(--bradius);
  display: block;
  margin-left: auto;
  margin-right: auto;

}

@media only screen and (max-width: 320px) {
  body {
    width: 100%;
  }

  #container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;  
  }

  #header {
    display: none;
  }
  
  #blog, #welcome {
    display: block;
    float: none;
    width: 100%;
  }
  #content {
    display: block;
  }

  }


@media only screen and (min-width: 768px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (min-width:1200px) {
  body {
    background-color: lightblue;
  }
}
